footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: white;
    width: 80%;
    margin-top: 500px;
    margin-left: 10%;
    height: 50px;
    font-size: 20pt;
}